# Игнорировать файлы системы и IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать зависимости и сборочные файлы
node_modules/
dist/
build/
*.min.js
*.min.css

# Игнорировать временные файлы
*.log
*.tmp
*.bak
*.swp
*~

# Игнорировать персонализированные файлы конфигурации
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорировать кэш и сгенерированные файлы
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log* 